<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>


<div class="panel panel-default">
    <div class="panel-heading">
        ユーザープロフィール
    </div>
    
    <div class="panel panel-body">
        <div class="row">
          <div class="col-sm-2 col-md-1"><span class="label label-info"  class:"control-label"> ユーザー名 </span></div>
          <div class="col-sm-10 col-md-11"><%= @user.name %></div>
        </div>
        
        <div class="row">
           <div class="col-sm-2 col-md-1"><span class="label label-info"> プロフィール </span></div>
           <div class="col-sm-10 col-md-11"><%= @user.profile %></div>
         </div>
      
        <div class="row">
          <div class="col-sm-2 col-md-1"><span class="label label-info"> 居住地 </span></div>
          <div class="col-sm-10 col-md-11"><%= @user.location %></div>
        </div>
      
        
    </div>
  </div>
</div>